.main {
  display: flex;
  place-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  position: relative;
  width: 3.375em;
  height: 3.375em;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade 1s linear infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.spinner_1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.spinner_2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.spinner_3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.spinner_4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.spinner_5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.spinner_6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.spinner_7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.spinner_8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.spinner_9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.spinner_10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.spinner_11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.spinner_12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
